
.cover_index {
   
    height: 500px;  
    background-size: cover;
    background-position: center;
    margin-top: 25px;
 
}



.footer{
    height: 150px;
    width: 100%;
    overflow: hidden;
    color: black;
    background-size: cover;
    background-position: center
        
}

.img_footer{
    background-size: cover;
    background-position: center;
    justify-content: center;
}